<h3>Parts</h3>

<% ordered_panels = @structure.panels.order('side_position ASC') %>

<ul class="nav nav-tabs">
<% ordered_panels.each_with_index do |panel, index| %>
  <% if index == 0 %>
    <li class="active"><a href="#panel_<%= panel.id %>_parts" data-toggle="tab">Panel <%= panel_letter(panel) %></a></li>
  <% else %>
    <li><a href="#panel_<%= panel.id %>_parts" data-toggle="tab">Panel <%= panel_letter(panel) %></a></li>
  <% end %>
<% end %>
</ul>

<div class="tab-content">
<% ordered_panels.each_with_index do |panel, index| %>

<% if index == 0 %>
  <div class="tab-pane fade in active" id="panel_<%= panel.id %>_parts">
<% else %>
  <div class="tab-pane fade" id="panel_<%= panel.id %>_parts">
<% end %>

    <%= render 'parts/table', :panel => panel %>

    <div class="form-group text-right">
      <%= link_to structure_panel_path(@structure,panel), :class => 'btn btn-primary' do %>
        View Panel <%= panel_letter(panel) %> <span class="glyphicon glyphicon-arrow-right"></span>
      <% end %>
    </div>

  </div>
<% end %>
</div>